extends layout

block content
    h1= title
    p Welcome to #{firstname} #{lastname} Profile
    h5.spacer-right User ID: #{id}

    .form-wrapper
      .profile-wrapper
        img(src="#{avatar}" alt="Profile Picture" class="profile-picture" style="margin: 0 auto; display: block;")
        
        p Username: #{username}
        p Firstname: #{firstname}
        p Lastname: #{lastname}
        p Email: #{email}
        p Role: #{role}
        p Bio: #{bio}

        a(href=`/users/profile/edit/id/${id}`) Edit Profile
  