extends layout

block content
    h1= title
    p Welcome to #{firstname} #{lastname}'s Profile

    .form-wrapper
      .profile-wrapper
        img(src="#{avatar}" alt="Profile Picture" class="profile-picture" style="margin: 0 auto 10px; display: block;")
        
        .text-center
          h5.text.center #{username}
        p Firstname: #{firstname}
        p Lastname: #{lastname}
        p Email: #{email}
        p Role: #{role}
        p Bio: #{bio ? bio : 'No bio yet.'}
        
        a(href=`/users/profile/edit/id/${id}`, class="btn btn-primary btn-sm m-1") Edit Profile
  