extends layout

block content
    h1= title
    p Welcome to 
      span.fw-bold #{firstname} #{lastname}'s 
      span Profile

    .form-wrapper
      .profile-wrapper
        img(src="#{avatar}" alt="Profile Picture" class="profile-picture mb-2")

        // Removed .text-center class
        h5 #{username}
        p Firstname: #{firstname}
        p Lastname: #{lastname}
        p Email: #{email}
        p Role: #{role}
        p Bio: #{bio ? bio : 'No bio yet.'}
        
        a(href="/users/profile/edit/id=#{id}" class="btn btn-primary btn-sm") Edit Profile
        a(href="/users/profile/delete/id=#{id}" class="btn btn-danger btn-sm m-1") Delete Profile

